
body {
    width: 1440px;
    font-family: 'Open Sans', 'Volkhov', 'Poppins', sans-serif;
}
.header{
    &__nav {

        padding: 48px 138px 22px 140px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 10;
        position: relative;
    }

    &__img-logo {
        margin-right: 222px;
    }

    & li {
        list-style: none;
        color: #212832;
        font-size: 17px;

    }


    &__div {
        display: flex;
        align-items: center;
        gap: 55px;
        margin-right: 86px;
    }

    & a {
        margin-right: 52px;
    }

    & button {
        width: 102px;
        height: 40px;
        margin-right: 42px;
        border-radius: 5px;
        border: 1px solid #212832;
        color: #212832;
        background-color: transparent;
    }

    &__img-decore {
        position: absolute;
        top: 0;
        right: -25px;
    }
}